body{
    margin: 0;
}

div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 530px;
}

div p{
    margin: 0;
    margin-top: 5px;
}

div imput{
    margin-top: 0;
}

div button{
    margin-top: 10px;
}